<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>923749413671-kntnnfsmjspscs5cmveg920mk6ujuqji.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923749413671-kntnnfsmjspscs5cmveg920mk6ujuqji</string>
	<key>API_KEY</key>
	<string>AIzaSyC3vsgSdFyuA-Zq2UCsDmW4Gc7mtjRQBQo</string>
	<key>GCM_SENDER_ID</key>
	<string>923749413671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rfideas.waveId</string>
	<key>PROJECT_ID</key>
	<string>wave-id-49d47</string>
	<key>STORAGE_BUCKET</key>
	<string>wave-id-49d47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923749413671:ios:42883659fd16c718acef02</string>
	<key>DATABASE_URL</key>
	<string>https://wave-id-49d47.firebaseio.com</string>
</dict>
</plist>